---
layout: main
title: Hobbies & Interests
---

<main class="home" id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope">
    <div id="hobbies">
        {% for post in site.posts %}
            {% if post.hobbies %}
                <div class="post-list">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        {% if post.image %}
                            <div class="post-image-small" style="background-image: url({{ post.image }})"></div>
                        {% endif %}
                        <time>{{ post.date | date: "%b %d %Y" }}</time>
                        <h3>{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</main>
