---
layout: page
---

{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

{{content}}

{% if site.post-advance-links contains page.category %}
    {% comment %}
        Navigate only between visible posts of the same category
        (page.previous / page.next would jump into project and creative posts).
        site.categories is sorted newest first.
    {% endcomment %}
    {% assign category_posts = site.categories[page.category] | where_exp: "p", "p.hidden != true" %}
    {% assign older_post = nil %}
    {% assign newer_post = nil %}
    {% for p in category_posts %}
        {% if p.url == page.url %}
            {% assign older_index = forloop.index0 | plus: 1 %}
            {% assign older_post = category_posts[older_index] %}
            {% unless forloop.first %}
                {% assign newer_index = forloop.index0 | minus: 1 %}
                {% assign newer_post = category_posts[newer_index] %}
            {% endunless %}
        {% endif %}
    {% endfor %}
    <div class="blog-navigation">
        {% if older_post %}
            <a class="prev" href="{{ site.url }}{{ older_post.url }}">&laquo; {{ older_post.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if newer_post %}
            <a class="next" href="{{ site.url }}{{ newer_post.url }}">{{ newer_post.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
